.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    grid-gap: 10px;
  }

  .grid-item {
    background-color: gray;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
