body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0pt;
    padding-right: 0px;
    background-color: tan;
}

img {
    height: 200px;
}

nav {
    border-bottom: black 1px;
    padding: 16px;
    background-color: orangered;
}

h1 {color: teal;}

a {color: darkgreen;}



a:link {
        text-decoration: none;
    }

a:visited {
        text-decoration: none;
    }

a:hover {
        text-decoration: none;
    }

a:active {
        text-decoration: none;
}
